$primary-font: "Cocogoose",
sans-serif;
$secondary-font: "Lato",
sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Cocogoose";
  src:
    url("../font-family/Cocogoose.woff2") format("woff2"),
    url("../font-family/Cocogoose.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose-light";
  src: url("../utils/fonts/cocogoose/Cocogoose-light.ttf");
}

$dark-color: #272a31;
$rpink-color: #ec42b3;
$light-color: #d3d3d3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.display-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@import "header";
@import "mobile-menu";
@import "footer";
@import "section-header";
@import "section-main-program";
@import "main-section-desserts";
