import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
    font-family: "Cocogoose";
    src: url("../font-family/Cocogoose.woff2") format("woff2"), url("../font-family/Cocogoose.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cocogoose-light";
    src: url("../utils/fonts/cocogoose/Cocogoose-light.ttf");
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.text-center {
    text-align: center;
}

.display-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Lato", sans-serif;
    z-index: 99;
}

.mobile-nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.fa-bars {
    padding: 0.7rem 0;
    color: #272a31;
}

.nav-top,
.nav-bottom {
    display: none;
}

.nav-top {
    background-color: #272a31;
}

.nav-top-links {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 0;
}

.nav-top-links-style {
    color: #d3d3d3;
}

.nav-top-links-style:hover:not(.fa-twitter:hover .fa-facebook-f:hover) {
    opacity: 0.5;
}

.fa-twitter:hover,
.fa-facebook-f:hover {
    color: #ec5242;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.nav-bottom {
    padding: 0.5rem 0;
    background-color: #fff;
}

.nav-bottom-width {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-bottom-links {
    gap: 4rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-bottom-links-style {
    color: #d3d3d3;
}

.nav-bottom-links-style:active {
    color: #ec42c7;
}

.nav-bottom-links-style:hover {
    color: #ec42d0;
    -webkit-animation: hover 5s;
    animation: hover 5s;
}

@-webkit-keyframes hover {
    from {
        -webkit-filter: drop-shadow(0 0 0 rgb(255, 0, 221));
        filter: drop-shadow(0 0 0 rgb(255, 0, 242));
    }

    to {
        -webkit-filter: drop-shadow(-1rem 4rem 4rem rgb(255, 0, 242));
        filter: drop-shadow(-1rem 4rem 4rem rgb(234, 0, 255));
    }

    to {
        -webkit-filter: drop-shadow(-2rem 5rem 5rem rgb(225, 0, 255));
        filter: drop-shadow(-2rem 5rem 5rem rgb(255, 0, 234));
    }
}

@keyframes hover {
    from {
        -webkit-filter: drop-shadow(0 0 0 rgb(255, 0, 234));
        filter: drop-shadow(0 0 0 rgb(255, 0, 255));
    }

    to {
        -webkit-filter: drop-shadow(-1rem 4rem 4rem rgb(255, 0, 255));
        filter: drop-shadow(-1rem 4rem 4rem rgb(255, 0, 242));
    }

    to {
        -webkit-filter: drop-shadow(-2rem 5rem 5rem rgb(255, 0, 242));
        filter: drop-shadow(-2rem 5rem 5rem rgb(255, 0, 242));
    }
}

.nav-bottom-links-campaing {
    padding: 0.5rem;
    border: 0.25rem solid #df74e6;
    color: #d042ec;
}

@media only screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .nav-top,
    .nav-bottom {
        display: block;
    }
}

.mobile-menu-style {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #272a31;
    z-index: 999;
    -webkit-animation: mobileMenu 400ms;
    animation: mobileMenu 400ms;
}

@-webkit-keyframes mobileMenu {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

@keyframes mobileMenu {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

.mobile-menu-style #mobileMenuLinks {
    visibility: hidden;
    -webkit-animation: mobileMenuLinks 400s 400ms;
    animation: mobileMenuLinks 400s 400ms;
}

@-webkit-keyframes mobileMenuLinks {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes mobileMenuLinks {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.mobile-menu-style .mobile-menu-social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}

.mobile-menu-style #mobileMenuFacebook,
.mobile-menu-style #mobileMenuTwitter {
    padding-top: 2rem;
}

.mobile-menu-style #mobileMenuFacebook:hover,
.mobile-menu-style #mobileMenuTwitter:hover {
    font-size: 45px;
    color: #ff07ea;
    -webkit-filter: drop-shadow(0.5rem -0.8rem 0.1rem rgb(245, 11, 175));
    filter: drop-shadow(0.5rem -0.8rem 0.1rem rgb(245, 11, 175));
}

.mobile-menu-style .blur-effect {
    -webkit-filter: drop-shadow(0.2rem -0.6rem 0 #ec42ec);
    filter: drop-shadow(0.2rem -0.6rem 0 #e642ec);
}

.mobile-menu-style .blur-effect:hover {
    color: #272a31;
    -webkit-filter: drop-shadow(5rem -1.05rem 0 #8f07a1);
    filter: drop-shadow(5rem -1.05rem 0 #c442ec);
}

.mobile-menu-style .fa-times {
    color: #d3d3d3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 62px;
    padding-right: 38px;
}

@-webkit-keyframes closeSlow {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

@keyframes closeSlow {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

.mobile-menu-style li {
    text-align: center;
    margin-top: 20px;
}

.mobile-menu-style a {
    color: #d3d3d3;
    font-family: "Cocogoose", sans-serif;
    font-size: 28px;
}

.mobile-menu-style a:hover {
    -webkit-animation: hoverEffect 0.2s;
    animation: hoverEffect 0.2s;
}

@-webkit-keyframes hoverEffect {
    from {
        -webkit-filter: drop-shadow(0 0 0 #ec42d0);
        filter: drop-shadow(0 0 0 #ec42d5);
    }

    to {
        -webkit-filter: drop-shadow(3rem 3rem 3rem #ec42c1);
        filter: drop-shadow(3rem 3rem 3rem #ec42c7);
    }
}

@keyframes hoverEffect {
    from {
        -webkit-filter: drop-shadow(0 0 0 #ec42b9);
        filter: drop-shadow(0 0 0 #ec42de);
    }

    to {
        -webkit-filter: drop-shadow(3rem 3rem 3rem #ec42c7);
        filter: drop-shadow(3rem 3rem 3rem #ec42ab);
    }
}

footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    font-family: "Lato", sans-serif;
}

.footer-top {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #272a31;
    color: #d3d3d3;
    padding: 2rem 1rem 2.5rem 1rem;
}

.footer-top-title {
    color: #d3d3d3;
    font-weight: bold;
    font-size: 20px;
    font-size: 18px;
    opacity: 0.8;
}

.footer-top-underline {
    margin-top: 0.5rem;
    opacity: 0.6;
}

.footer-top-underline-span {
    border: 1px solid #ec5242;
    width: 3rem;
}

.footer-top-sellers {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 24px;
    margin-top: 2.5rem;
    opacity: 0.6;
    line-height: 12px;
}

.footer-bottom-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3rem;
}

.footer-text-content {
    margin-top: 1rem;
    color: #272a31;
    display: none;
}

.footer-text {
    color: #272a31;
    font-weight: 600;
    opacity: 0.5;
}

@media only screen and (min-width: 768px) {
    footer {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer-text-content {
        display: block;
    }

    .footer-top-title {
        color: #d3d3d3;
        opacity: 0.4;
        font-weight: 500;
    }
}

.section-header {
    padding-top: 3rem;
    position: relative;
    height: auto;
}

.section-header::before {
    content: "";
    background-image: url(../images/);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
}

.section-header-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;
    padding-bottom: 4rem;
}

.section-header-title {
    padding-top: 3rem;
    color: rgb(236 66 176);
    font-size: 26px;
    font-weight: 500;
}

.section-header-second-title {
    padding-top: 0.5rem;
    background-image: url(../images/);
    background-size: cover;
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.85rem;
    font-family: "Cocogoose", sans-serif;
}

.section-header-second-title-year {
    font-family: "Work Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}

.section-header-text-content {
    color: rgba(39, 42, 49, 0.8);
    margin-top: 1.7rem;
    padding: 1rem;
    background-color: #f1f1f1;
    border: 2px solid #fff;
}

.section-header-third-title {
    color: #272a31;
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: 800;
    opacity: 0.7;
}

.section-header-info {
    color: #272a31;
    font-size: 1.2rem;
    opacity: 0.7;
    margin-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
    .section-header {
        padding-top: 10rem;
        padding-bottom: 8rem;
        position: relative;
        height: 100vh;
    }

    .section-header-content {
        width: 80%;
    }

    .section-header-title {
        font-size: 36px;
    }

    .section-header-second-title {
        font-size: 3.5rem;
    }

    .section-header-second-title-year {
        font-size: 4.5rem;
    }

    .section-header-third-title {
        font-size: 2.8rem;
        font-weight: 800;
        opacity: 0.7;
    }

    .section-header-text-content {
        width: 50%;
    }

    .section-header-info {
        color: #272a31;
        font-size: 1.5rem;
        font-weight: 500;
        opacity: 0.7;
        margin-top: 0.5rem;
    }
}

main {
    font-family: "Lato", sans-serif;
    background-image: url(../images/);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-program {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.2rem 0 0 0;
}

.main-program-title {
    color: #fff;
    font-size: 18px;
}

.main-program-cards {
    margin-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.5rem;
}

.main-program-cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: rgba(211, 211, 211, 0.22);
}

.main-program-cards-title {
    color: #ec42a5;
    font-weight: bold;
}

.main-program-cards-text {
    color: #fff;
    font-size: 12px;
}

.main-program-button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.orange-button {
    width: 100%;
    margin: 2rem 0;
    background-color: #ec4283;
    color: #fff;
    padding: 1rem 1.2rem;
    border: none;
}

.main-program-link {
    padding: 3rem 0;
    color: #d3d3d3;
    text-decoration: underline;
    font-size: 12px;
    display: none;
}

@media only screen and (min-width: 768px) {
    .main-program {
        width: 80%;
    }

    .main-program-cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .main-program-cards-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 33.3333%;
    }

    .main-program-cards-text {
        text-align: center;
    }

    .main-program-button {
        display: none;
    }

    .main-program-link {
        display: block;
        text-align: center;
    }
}

.main-section-dancers {
    background-color: #fff;
}

.main-section-dancers-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.2rem 0 3rem 0;
}

.main-section-dancers-title {
    text-align: center;
}

.main-section-dancers-card-image {
    max-height: 5rem;
}

.main-section-dancers-cards {
    margin-top: 2rem;
}

.main-section-dancers-card {
    padding: 0.6rem 0 0.6rem 0.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    position: relative;
    z-index: 1;
    -webkit-transition: all 10s;
    transition: all 10s;
}

.black-and-white {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-section-dancers-card-content {
    line-height: 18px;
}

.main-section-dancers-card-title {
    color: #272a31;
    font-size: 14px;
}

.main-section-dancers-card-description {
    color: #ec5242;
    font-size: 11px;
}

.main-section-dancers-card-text {
    color: #272a31;
    font-size: 11px;
    opacity: 0.8;
}

.main-button-more {
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 0.5rem;
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

.fa-chevron-down,
.fa-chevron-up {
    color: #ec4291;
}

@media only screen and (min-width: 768px) {
    .main-section-dancers-content {
        width: 80%;
    }

    .main-section-dancers-cards {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .black-and-white {
        opacity: 0.3;
    }

    .main-section-dancers-card-image {
        max-height: 8rem;
    }

    .main-button-more {
        display: none;
    }
}
